body{
    color: black;
    background-color:black;
}
.form
{
    color: black;
    background-color:gray;
    margin-top: 100px;
    background-color: white;
    padding-left: 180px;
    padding-right: 180px;
    margin-top: 80px;
   
}

.fort
{
    border: 2px solid white;
    padding-left: 30em;
    padding-top: 10em;
}
.cent
{
    border: 2px solid white;
    margin-top: 90px;
}
.pad
{
    color: black;
    background-color:gray;
    padding-left: 30px;
    margin-left: 50px;
}